.sidebar{
  width: 300px;
  height: auto;
  float: left;
  background-color: khaki;
  
}

body{
  background-color: blanchedalmond;
}

img{
  width: 300px;
  height: 472px;
}

.gridproj{
  display:grid
  grid: template columns 200px 200px 200px;
}

.keeptogether{
  white-space: nowrap;
}

.listee{
  display: block;
  color: #000000;
  font-family: Arial,Helvetica,sans serif;
  font-size: 13px;
  margin-top: 10px;
  width: 200px;
  padding-left: 20px;
}

.guide{
  display: inline-flexbox;
  padding-left: 20px;

}